* {
  position: relative;
  margin: 0;
}

html {
  -webkit-backface-visibility: hidden;
  transition: filter 0s linear 0.5s;
}

html.inverse {
  filter: invert(1);
  transition: filter 0s linear 0.5s;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3vw;
  text-align: center;
  color:white;

  a {
    padding: 0;
  }

  ul {
    list-style-type: square;
  }

  li {
    font-size: 2vw;

    @media (max-width: 768px) {
      font-size: 14px;
    }

    @media (min-width: 1441px) {
      font-size: 28px;
    }
  }
}

.parent-filler {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a {
  padding: 1vw 0;
  /* color: rgb(0, 144, 208); */
  color: white;
  text-decoration: underline;
}

a:visited {
  /* color: plum; */
  /* color: rgb(0, 144, 208); */
  color: white
}

a:hover {
  color: rgb(0, 144, 208);
}

a:active {
  color: hotpink;
}

.hex-back {
  background-color: #333;
  background-image: 
    linear-gradient(
      30deg,
      #222 12%,
      transparent 12.5%,
      transparent 87%,
      #222 87.5%,#222
    ),
    linear-gradient(
      150deg,
      #222 12%,
      transparent 12.5%,
      transparent 87%,
      #222 87.5%,#222
    ),
    linear-gradient(
      30deg,
      #222 12%,
      transparent 12.5%,
      transparent 87%,
      #222 87.5%,
      #222
    ),
    linear-gradient(
      150deg,
      #222 12%,
      transparent 12.5%,
      transparent 87%,
      #222 87.5%,
      #222
    ),
    linear-gradient(
      60deg,
      #000 25%,
      transparent 25.5%,
      transparent 75%,
      #000 0,
      #000
    ),
    linear-gradient(
      60deg,
      #000 25%,
      transparent 25.5%,
      transparent 75%,
      #000 0,
      #000
    );
  background-size: 80px 140px;
  background-position: 0 0,0 0,40px 70px,40px 70px,0 0,40px 70px;
}

.outer {
  /* position: absolute; */
  padding: 2vw;
  width: 100%;
  min-height: 85vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary-box {
  border: 3vw solid white;
  background: rgba(0, 0, 0, 0.5);
  padding: 1vw 2vw;
}

address {
  display: table;
  margin: 0 auto;
}

@keyframes popIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.avatar {
  animation: 1s ease-out 0s 1 popIn;
  border-radius: 100%;
  border: 1vw solid white;
  width: 20vw;
  transition: transform 1s linear;
  margin-bottom: 1vw;
}

.avatar.over {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: transparent;
  opacity: 0;
  -webkit-mask-image: -webkit-radial-gradient(50% 50%, circle, transparent 0%, black 100%);
  mask: radial-gradient(50% 50%, circle, transparent 0%, black 100%);
  transition: all 1s linear;
}

.avatar.over.blink {
  animation: 4s linear 0s infinite pulseOpacity, 1s ease-out 0s 1 popIn;
}

.inverse .avatar {
  transform: scale(-1, 1);
  transition: transform 1s linear;
}

.inverse #avatar-button {
  cursor: pointer;
}

.avatar.over.hover {
  -webkit-mask-image: -webkit-radial-gradient(50% 40%, circle, transparent 0%, black 60%);
  mask: radial-gradient(50% 50%, circle, transparent 0%,  black 60%);
  border-color: white;
  transition: all 1s linear;
}

.avatar.over.hover:hover {
  border-color: #0090D0;
  opacity: 1;
  /* transition: all 1s linear; */
}

.inverse .avatar.over.hover {
  border-color: #0090D0;
  opacity: 1;
}

.over.hover + .parent-filler {
  background: transparent;
  background-image: radial-gradient(rgb(0, 144, 208, 1), rgba(0,0,0,0));
  opacity: 0;
  transition: all 1s;
  z-index: -1;
}

.over.hover:hover + .parent-filler {
  opacity: 1;
}

.inverse .over.hover + .parent-filler {
  opacity: 1;
  /* transition: all 1s; */
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.school {
  text-align: left;
}

ul {
  padding-left: 5vw
}

li {
  margin-bottom: 1vw
}

li::marker {
  left: 0;
}

h2 {
  margin-bottom: 3vw;
}

.time-at-job {
  font-size: 2vw;
  margin-bottom: 2vw;
}

.job {
  margin-bottom: 5vw;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.tac {
  text-align:center;
}

.intu-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 11vw;
}

.tb-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 12vw;
}

.gwc-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 25vw;
}

.ucsc-img {
  position: absolute;
  right: 0;
  top: 0;
  width: 16vw;
}

#resume {
  box-sizing: border-box;
  padding: .5vw 3vw;
  border: 0.5vw solid white;
  background: white;
  margin: 3vw 0 2vw;
  cursor: pointer;
}
#resume:hover {
  border: 0.5vw solid #0090D0;
}

@keyframes pulseOpacity {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0.5;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

hr {
  margin-bottom: 5vw;
}

@media (max-width: 767px) {
  body .main {
    font-size: 4vw;
  }
  .primary-box {
    border: 4vw solid white;
  }

  address {
    padding: 1vw;
  }

  .avatar {
    width: 60vw;
  }
}

@media (min-width: 1441px) {
  .outer {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
    padding: 2rem
  }

  body {
    font-size: 3rem;
  }

  a {
    padding: 1rem 0;
  }
  
  .primary-box {
    border: 3rem solid white;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
  }

  .avatar {
    border: 1rem solid white;
    width: 20rem;
    margin-bottom: 1rem;
  }

  ul {
    padding-left: 5rem
  }
  
  li {
    margin-bottom: 1rem
  }

  h2 {
    margin-bottom: 3rem;
  }
  
  .time-at-job {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .job {
    margin-bottom: 5rem;
  }

  .tb-img {
    width: 12rem;
  }

  .gwc-img {
    width: 18rem;
  }

  .ucsc-img {
    position: absolute;
    right: 0;
    top: 0;
    width: 16rem;
  }

  .intu-img {
    width: 11rem;
  }

  #resume {
    padding: .5rem 3rem;
    border: 0.5rem solid white;
    background: white;
    margin: 1rem 0 2rem;
    top: 1rem;
    cursor: pointer;
  }
  #resume:hover {
    border: 0.5rem solid #0090D0;
  }

  hr {
    margin-bottom: 5rem;
  }
}
